<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sheets_api_key</key>
	<string>AIzaSyCNwn1AAi3X_hOFAqUN-0i2DMbthkAZ-8c</string>
	<key>google_oauth_id</key>
	<string>621956945071-egvtm4rs8kuada6ash0mk6anmvcd1jp2.apps.googleusercontent.com</string>
	<key>parse_app_ID</key>
	<string>ZuKS1LMhQrXcAWcQZxcHVPLYmACt7Ch5MrWCjH9v</string>
	<key>parse_client_key</key>
	<string>YwIx7wAKLuoj26jaqVky2xqMIoJAeklIY4ITXvTU</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
